@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,::after,::before{
    box-sizing:border-box;
    margin:0;
}

html {
  font-size: 18px;
}

body{
    max-width:100vw;
    font-family: "Outfit";
    background-color:hsl(217, 54%, 11%);
}

.card {
    border-radius:8px;
    background-color:hsl(216, 50%, 16%);
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:1rem;
    margin:3em 1.5em;
    gap:1em;
}

.img-container {
    position: relative;
}

#eye-img {
    position:absolute;
    inset:0;
    background-color:hsl(178, 100%, 50%, .5);
    display:none;
    justify-content:center;
    align-items:center;
    aspect-ratio:1;
}

.img-container:hover #eye-img {
    display:flex;
}

.imag {
    max-width:100%;
    aspect-ratio:1;
}

.imag, #eye-img {
    border-radius:8px;
}

.title {
    color: hsl(0, 0%, 100%);
    font-size:1.25rem;
    font-weight:bold;
}

.parrafo {
    color:hsla(215, 51%, 70%, .60);
    font-size:.875rem;
}

.cyan {
    font-weight:bold;
    color:hsla(178, 100%, 50%, .75);
    font-size:0.875rem;
}

.line {
    border-width:1px 0 0 0;
    border-color:hsla(215, 51%, 70%, .25);
}

.blue {
    color:hsl(215, 51%, 70%, .75);
    font-size:0.875rem;
}

.marco {
    border:1px solid #FFF;
    width:1.5rem;
    border-radius:100%;
    margin:-3px 15px 5px 0;
}

.flex-row {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items:center;
}

.size {
  width:0.65em;
  height:1em;
  gap:20px
}

.size2 {
  width:0.875em;
  height:0.875rem;
  gap:7px;
}

.white {
    color:hsl(0, 0%, 100%, .75);
    font-size:0.875rem;
    margin:0 .5rem ;
}

.flex-row1 {
    display: flex;
}

.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    background-color:hsl(217, 54%, 11%, 75%);
    padding: 0.75em 1em;
}

.bold {
    font-weight:700;
}

.hoverable:hover {
    color:hsl(178, 100%, 50%, .75);
}

@media (min-width: 700px) and (max-width:1230px) {
    body{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    main{
        max-width: 38vw;
        height: 20vw 20vw;

    }
}

@media (min-width:1231px) {
    body{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    main{
        max-width: 22vw;
        height: 20vw 20vw;

    }
}
